
@{
    ViewBag.Title = "Personal Info";
}

<h2>Personal Info</h2>
<p> I am Adittya Chakraborty. Currently I am pursuing my BSc in Computer Science and Engineering at American International University Bangladesh.<br /></p>

<p>Address: Kishoreganj, Bangladesh</p>
<p>Email: arup2140@gmail.com</p>
<p>Working at: Mechanic Koi</p>
<p>Job experience: 1 year+</p>
