@{
    ViewBag.Title = "Project";
}

<h2>Project</h2>

<table class="table table-bordered">
    <tr>
        <td>Project</td>
        <td>Language</td>
        <td>Link</td>
    </tr>


    <tr>
        <td>Online Quiz Management System</td>
        <td>C#</td>
        <td><a href="https://github.com/adittya8/Lab-6-of-C-sharp">Click</a></td>
    </tr>


    <tr>
        <td>ProjecTree</td>
        <td>Web Technology</td>
        <td><a href="https://github.com/adittya8/ProjecTree">Click</a></td>
    </tr>


    <tr>
        <td>Restaurant Management System</td>
        <td>Web Technology</td>
        <td><a href="https://github.com/adittya8/Restaurant-management-system">Click</a></td>
    </tr>



</table>